.highlighted {
    font-weight: bold;
}

.keywords {
    font-size: 0.8em;
    font-weight: bold;
}

.keywords a {
    color: #063;
}

.collection-repo, .collection-repo a {
    color: #777;
    font-weight: normal;
}

.remove-filter:hover {
    background-color: #DDD;    
}

.selected-filter {
    font-weight: bold;
    color: rgb(0, 128, 0);
}



