{% load addparam %}

<div class="selected-facet-list">
{% for fclass in facet_classes %}
    {% for facet in fclass.all_sorted_by_name %}
        {% if facet.selected %}
            {% with facet.facet_param as param %}
            <input type="hidden" name="{{fclass.paramname}}" value="{{facet.name}}" />
            <span class="selected-facet">
                {{fclass.prettyname}}: {{facet.prettyname}} <a class="remove-filter"
        href="{{request.get_full_path|removeparam:param|stripparam:"page"}}"><i
            class="icon-remove"></i></a>
            </span>
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endfor %}
</div>

