{% extends 'portal/search_base.html' %}

{% load i18n %}
{% load ifsetting_tag %}
{% load getattribute %}
{% load facetparam %}
{% load pagination_tags %}
{% load highlight %}
{% block head_title %}{% trans "Search Collections" %}{% endblock %}

{% block body_class %}collections{% endblock %}

{% block facets %}
    <!-- Begin date facet -->
    <div class="facet-list">
        <h4>{% trans "By Date" %}</h4>
        <dl>
            {% for timestr, count in date_facets %}
                {% with "dates"|facetparam:timestr as param %}
                    {% with timestr|slice:"4" as year %}
                        {% include "portal/_item_facet.html" with item=year %}
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </dl>
    </div>
    <!-- End date facet -->


    <!-- Begin faceting. -->
    <div class="facet-list">
        {% for attr, pretty in facet_names.items %}
            {% if facets.fields|getattribute:attr %}
            <h4>{% trans "By "|add:pretty %}</h4>
            <dl>
                {% for item, count in facets.fields|getattribute:attr %}
                    {% with attr|facetparam:item as param %}
                        {% include "portal/_item_facet.html" %}
                    {% endwith %}
                {% endfor %}
            </dl>
            {% endif %}
        {% endfor %}
    </div>
    <!-- End faceting -->
{% endblock %}

{% block resultlist %}
    {% for result in page.object_list %}
        <h5>
            <a href="{{ result.uri }}">{{ result.name }}</a>
            <span class="collection-dates">
                <span class="result-date">{{result.date_range}}</span>
            </span>
            <span class="collection-repo">
                [<a href="{{result.repository_uri}}">{{result.repository}}</a>]
            </span>
        </h5>                
        <p>
        {% if query %}
            {% highlight result.description with request.GET.q max_length 200 %}
        {% else %}
            {{ result.description|truncatewords:25 }}
        {% endif %}
        {% spaceless %}
        <div class="keywords">
            {#% for kw in result.tags %}{% if forloop.counter0 > 0 %}{{", "}}{% endif %}<a href="#">{{kw}}</a>{% endfor %#}
        </div>
        {% endspaceless %}
        </p>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}
