{% extends 'portal/search_base.html' %}

{% load addparam %}
{% load highlight %}
{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% block head_title %}{% trans "Search Collections" %}{% endblock %}

{% block body_class %}collections{% endblock %}


{% block facets %}
    {% include "portal/_facet_list.html" %}
{% endblock %}

{% block resultlist %}
    {% for result in page_obj.object_list %}
        <h4>
            <a title="{{result.name}}" href="{% url collection_detail slug=result.slug %}">
                {{ result.name|truncatewords:9 }}</a>
            <span class="collection-dates">
                <span class="result-date">{{result.date_range|default_if_none:""}}</span>
            </span>
            <span class="collection-repo">
                <a href="{{result.repository_uri}}">{{result.repository}}</a>
            </span>
        </h4>                
        <p>
        {% if form.q.value %}
            {% highlight result.description with form.q.value max_length 200 %}
        {% else %}
            {{ result.description|truncatewords:25 }}
        {% endif %}
        </p>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}
