{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load getattribute %}
{% load markup %}

{% block head_title %}{% trans "Repositories" %}{% endblock %}


{% block subnav %}
    {% include "portal/_repository_info.html" %}
{% endblock %}

{% block body %}
<h1>{{object.name}}</h1>

{{object.general_context|markdown}}

{% if object.reproduction_services %}
    {{object.reproduction_services|markdown}}
{% endif %}

<h4><a href="{% url repo_collections object.slug %}">{% trans "Browse collections" %}</a></h2>
{% endblock %}
