{% extends 'portal/search_base.html' %}

{% load highlight %}
{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block body_class %}repositories{% endblock %}

{% block facets %}
    {% include "portal/_facet_list.html" %}
{% endblock %}

{% block resultlist %}
    {% for result in page_obj.object_list %}
        <h4>
            <a title="{{result.name}}" href="{% url repo_detail slug=result.slug %}">
                {{ result.name|truncatewords:10 }}
            </a>
            <span class="repository-country">
                <a href="{% url repo_search %}?selected_facets=country_exact:{{result.country|urlencode}}">
                    {{ result.country|truncatewords:2 }}
                </a>
            </span>
        </h4>                
        <p>
        {% if result.description %}
            {% highlight result.description with form.q.value max_length 200 %}
        {% else %}
            No description available.
        {% endif %}
        </p>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}
