{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load getattribute %}

{% block head_title %}{% trans "Repositories" %}{% endblock %}


{% block subnav %}
<div style="height:200px;border:1px solid grey;">
    Image goes here.
</div>
{% for contact in object.contacts.all %}
    {{contact.street_address}}
    <br />
    {{contact.city}}
    <br />
    {{contact.region}}
    <br />
    {{contact.country}}
    <br />
    Tel: {{contact.telephone}}
    <br />
    Fax: {{contact.fax}}
{% endfor %}
{% endblock %}
{% block body %}
<h2>{{object.name}}</h2>

{% for field in object.translatable_fields %}
    {% with object|getattribute:field.0 as value %}
        {% if value %}
            <h2>{{field|title}}</h2>
            <div class="description-field">
                {{value|linebreaks}}
            </div>
        {% endif %}
    {% endwith %}
{% endfor %}
{% endblock %}
