{% extends 'portal/search_base.html' %}

{% load i18n %}
{% load ifsetting_tag %}
{% load highlight %}
{% load getattribute %}
{% load facetparam %}
{% load pagination_tags %}
{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block body_class %}repositories{% endblock %}

{% block facets %}
    {% include "portal/_facet_list.html" %}
{% endblock %}

{% block resultlist %}
    {% for result in page.object_list %}
        {% include "portal/_repository_search_result.html" %}
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}
