{% extends 'subnav_base.html' %}

{% load i18n %}
{% load ifsetting_tag %}
{% load highlight %}
{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block body_class %}repositories{% endblock %}

{% block subnav %}
<h2>{% trans "Limit search" %}</h2>

    <!-- Begin faceting. -->
    <div class="facet-list">
        {% if facets.fields.country %}
        <h3>{% trans "By Country" %}</h3>
            <dl>
                {# Only list countries with results #}
                {% for country in facets.fields.country %}
                {% if country.1 > 0 %}
                    {% with country.0|urlencode as countrycoded %}
                        {% with "&selected_facets=country_exact:"|add:countrycoded as cfacet %}
                            {% if cfacet in request.get_full_path %}
                            <dd>{{ country.0 }}({{ country.1 }}) <a href="{{request.get_full_path|cut:cfacet}}">[Remove]</a></dd>
                            {% else %} 
                            <dd><a href="{{ request.get_full_path }}&amp;selected_facets=country_exact:{{ country.0|urlencode }}">
                                {{ country.0 }}</a> ({{ country.1 }})</dd>
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                {% endif %}
                {% endfor %}
            </dl>
        {% else %}
        {% endif %}
    </div>
    <!-- End faceting -->

{% endblock %}

{% block body %}
    <h2>Search Repositories</h2>

    <form method="get" action=".">
            {{ form.q }}
            <input type="submit" value="Search">

        {% if query %}
            <h3>{{paginator.count}} Result{{paginator.count|pluralize}}</h3>

            {% for result in page.object_list %}
                {% include "portal/_repository_search_result.html" %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% include "portal/_search_paginator.html" %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
