{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block subnav %}
<h1>{% trans "Filter" %}</h1>
<ul>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
</ul>
{% endblock %}
{% block body %}
<h2>{% trans "Repositories" %}</h2>
<table class="zebra-striped">
    {% for object in object_list %}
    <tr>
        <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
