{% extends 'site_base.html' %}

{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% load highlight %}
{% block head_title %}{% trans "Search Collections" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="row">
            <div class="span4 columns">{% block page_heading %}&nbsp;{% endblock %}</div>
            <div class="span12 columns">
                <form method="get" action="{{request.path}}">
                    <input type="text" name="q" id="id_q" value="{{form.q.value|default_if_none:""}}" class="span8" />
                        <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                <h2>Search</h2>
            </div>
            <div class="span12 columns">
                <h4>{{paginator.count}} Result{{paginator.count|pluralize}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="span4 columns">
                {% block subnav %}
                    {% if paginator.count %}

                        {% block facets %}
                        <!-- facets go here -->

                        {% endblock %}
                    {% else %}
                    &nbsp;
                    {% endif %}
                {% endblock %}
            </div>
            <div class="span12 columns">
                {% if form.q.value and suggestion %}
                    <h5>Did you mean <a href="{{request.path}}?q={{suggestion|urlencode}}"><i>{{suggestion}}</i></a>?</h5>
                {% endif %}
                {% if paginator.count %}
                    {% block resultlist %}

                    {% endblock %}

                    {% paginate 2 %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
