{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load staticfiles %}

{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap-subnav.css" %}">
    {% block extra_style %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/portal.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-overrides.css" %}">
{% endblock %}

{% block extra_head %}
    <script src="{% static "js/jquery.tabSlideOut.v1.3.js" %}"></script>
    <script src="{% static "js/portal.js" %}"></script>
{% endblock %}

{% block nav %}    
    <ul class="nav">{% spaceless %}
        <li id="tab_collections"><a href="{% url collection_search %}">{% trans "Collections" %}</a></li>
        <li id="tab_repositories"><a href="{% url repository_search %}">{% trans "Repositories" %}</a></li>
        <li id="tab_authorities"><a href="{% url authority_search %}">{% trans "Authorities" %}</a></li>
        <li id="tab_map"><a href="{% url map_search %}">{% trans "Map" %}</a></li>
        {% if user.is_authenticated %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
        {% endif %}
    {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}

    <!-- tab slideOut -->
    <div style="display:none" class="slide-out-div hidden">
        <a class="handle" href="http://link-for-non-js-users">Content</a>
        <div id="suggestion-form">
            <div id="suggestion-thanks" style="position:absolute;z-index:10;display:none" class="alert alert-success">
                <h4>Thanks!</h4>
                You feedback is greatly appreciated.
            </div>
            {% include "suggestions/suggestion_form_ajax.html" with form=suggestionform %}
        </div>
    </div>
    <script type="application/javascript">
        const TAB_PATH = "{% static "img/feedback_tab.png" %}";
    </script>
    
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
