{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head %}
     <link rel="stylesheet" href="{{ STATIC_URL }}css/portal.css">
     <script src="{{ STATIC_URL }}js/portal.js"></script>
{% endblock %}

{% block nav %}    
    <ul>{% spaceless %}
        <li id="tab_collections"><a href="{% url collection_search %}">{% trans "Collections" %}</a></li>
        <li id="tab_repositories"><a href="{% url repo_search %}">{% trans "Repositories" %}</a></li>
        {% if user.is_authenticated %}
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
        {% endif %}
    {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
