{% include "_detail_field.html" with field="dates_of_existence" name="Dates" %}
{% include "_detail_field.html" with field="history" name="History" %}
{% include "_detail_field.html" with field="general_context" name="General Context" %}
{% include "_detail_field.html" with field="sources" name="Sources" %}

{% with object.collection_set.count as count %}
    {% if count %}
    <h3>
        <a href={%url authority_collections object.slug %}>Browse {{count}} collection{{count|pluralize}}</a>
    </h3>
    {% else %}
        <p>No collection information is currently available.</p>
    {% endif %}
{% endwith %}

