{% include "_diff_field.html" with field="scope_and_content" name="Scope and Content" %}
{% include "_detail_field.html" with field="creator" name="Creator" %}
{% include "_diff_field.html" with field="revision_history" name="Revision History" %}
{% include "_diff_field.html" with field="rules" name="Rules" %}
{% include "_diff_field.html" with field="arrangement" name="Arrangement" %}
{% include "_diff_field.html" with field="finding_aids" name="Finding Aids" %}
{% include "_diff_field.html" with field="reproduction_conditions" name="Reproduction Conditions" %}
{% include "_diff_field.html" with field="access_conditions" name="Access Conditions" %}
{% include "_diff_field.html" with field="location_of_originals" name="Location of Originals" %}
{% include "_diff_field.html" with field="location_of_copies" name="Location of Copies" %}
{% include "_diff_field.html" with field="acquisition" name="Acquisition" %}
{% include "_diff_field.html" with field="notes" name="Notes" %}

