<div class="dynamic-formset" id="id_formset-{{propform.prefix}}" data-prefix="{{propform.prefix}}">
    {{propform.management_form}}
    <div class="control-group form-inline {% if f.errors %}error{% endif %}"
            id="id_form-{{propform.prefix}}" data-prefix="{{f.prefix}}">
        {% for f in propform %}
            {% if forloop.first %}
            <label for="id_{{f.prefix}}-{{f.value.name}}">{{ name }}</label>
            {% endif %}
            <div class="controls inlinemulti" id="{{f.prefix}}">
                {{f.id}}
                {{f.value}}
                {{f.DELETE}}
                {{f.DELETE.label_tag}}
                {% if f.errors %}
                    <span class="help-inline">{{f.errors}}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
