{% include "_diff_field.html" with field="general_context" name="General Context" %}
{% include "_diff_field.html" with field="geocultural_context" name="Geocultural Context" %}
{% include "_diff_field.html" with field="history" name="History" %}
{% include "_diff_field.html" with field="reproduction_services" name="Reproduction Services" %}
{% include "_diff_field.html" with field="finding_aids" name="Finding Aids" %}
{% include "_diff_field.html" with field="disabled_access" name="Disabled Access" %}
{% include "_diff_field.html" with field="buildings" name="Buildings" %}

