{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}

{% block head_title %}{% trans "Authorities" %}{% endblock %}

{% block body_class %}authorities{% endblock %}

{% block body %}

<div class="row">
    <div class="span3 columns">
        <div class="well">
            <h5>{% trans "Administration Actions" %}</h5>
            <p>
                <a class="btn" href="{% url authority_edit slug=object.slug %}">Edit</a>
                <a class="btn btn-danger" href="{% url authority_delete slug=object.slug %}">Delete</a>
            </p>
        </div>
    </div>
    <div class="span9 columns">
        <h1>{{object.name}}</h1>

        <h2>{% trans "History" %}</h2>
        {% if object.history %}
            <p>{{object.history|markdown}}</p>
        {% else %}
            <p>No additional information is currently available.</p>
        {% endif %}

        <h2>{% trans "Sources" %}</h2>
        {% if object.sources %}
            <p>{{object.sources|markdown}}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

