{% extends "form_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}
{% load portal_tags %}
{% load bootstrap_tags %}

{% block body_class %}authorities{% endblock %}
{% block modelname %}{% trans "Authority" %}{% endblock %}

{% block fieldset_links %}
    <li><a href="#identity-area">{% trans "Identity Area" %}</a></li>
    <li><a href="#description-area">{% trans "Description Area" %}</a></li>
    <li><a href="#control-area">{% trans "Control Area" %}</a></li>
{% endblock %}

{% block fieldsets %}
    <fieldset>
        <legend id="identity-area">{% trans "Identity Area" %}</legend>
        {% include "_form_field.html" with field=form.identifier %}
        {% include "_form_field.html" with field=form.name %}

        <div class="dynamic-formset" id="id_formset-{{formsets.othernames.prefix}}" data-prefix="{{formsets.othernames.prefix}}">
            {{formsets.othernames.management_form}}
            <label>{% trans "Parallel Form(s) of Name" %}</label>
            {% for f in formsets.othernames %}
                <div class="control-group form-inline {% if f.errors %}error{% endif %}"
                        id="id_form-{{f.prefix}}" data-prefix="{{f.prefix}}">
                    <div class="controls inlinemulti">
                        {{f.id}}
                        {{f.name}}
                        {{f.DELETE}}
                        {{f.DELETE.label_tag}}
                        {% if f.errors %}
                            <span class="help-inline">{{f.errors}}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include "_form_field.html" with field=form.type_of_entity %}
    </fieldset>

    <fieldset>
        <legend id="description-area">{% trans "Description Area" %}</legend>
        {% include "_form_field.html" with field=form.dates_of_existence %}
        {% include "_form_field.html" with field=form.history %}
        {% include "_form_field.html" with field=form.places %}
        {% include "_form_field.html" with field=form.legal_status %}
        {% include "_form_field.html" with field=form.functions %}
        {% include "_form_field.html" with field=form.mandates %}
        {% include "_form_field.html" with field=form.internal_structures %}
        {% include "_form_field.html" with field=form.general_context %}
    </fieldset>

    <fieldset>
        <legend id="control-area">{% trans "Control Area" %}</legend>
        {% include "_form_field.html" with field=form.description_identifier %}
        {% include "_form_field.html" with field=form.institution_identifier %}
        {% include "_form_field.html" with field=form.rules %}
        {% include "_form_field.html" with field=form.languages %}
        {% include "_form_field.html" with field=form.scripts %}
        {% include "_form_field.html" with field=form.sources %}
    </fieldset>
{% endblock %}
