{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}

{% block head_title %}{% trans "Authorities" %}{% endblock %}

{% block body_class %}authorities{% endblock %}

{% block body %}
    <h2>{% trans "Authorities" %}</h2>
    <table class="zebra-striped">
        {% for object in object_list %}
        <tr>
            <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% paginate 2 %}
{% endblock %}
