{% extends 'search_base.html' %}

{% load portal_tags %}
{% load highlight %}
{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% block head_title %}{% trans "Search Collections" %}{% endblock %}

{% block body_class %}collections{% endblock %}


{% block facets %}
    {% include "_facet_list.html" %}
{% endblock %}

{% block resultlist %}
    {% for result in page_obj.object_list %}
        {% include "_collection_search_result.html" %}
    {% empty %}
        <p>No results found.</p>
    {% endfor %}
{% endblock %}
