{% extends "subnav_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}
{% load pagination_tags %}

{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block body_class %}{% if repository %}repositories{% else %}collections{% endif %}{% endblock %}

{% block subnav %}
    {% if repository %}
        {% include "_repository_info.html" with object=repository %}
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{{repository.name}}</h1>
    {% if repository %}
        <h3>{% trans "Collections" %}</h3>
    {% else %}
        <h2>{% trans "Collections" %}</h2>
    {% endif %}
    <table class="zebra-striped">
        {% for object in object_list %}
        <tr>
            <td><a href="{{object.get_absolute_url}}">{{object.name}}</a></td>
        </tr>
        {% empty %}
        No collections found.
        {% endfor %}
    </table>
    {% paginate 2 %}
{% endblock %}

