{% extends "form_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}
{% load portal_tags %}

{% block body_class %}collections{% endblock %}
{% block modelname %}{% trans "Collection" %}{% endblock %}

{% block fieldsets %}
    <fieldset>
        <legend>Identity Area</legend>
        {% include "_form_field.html" with field=form.identifier %}
        {% include "_form_field.html" with field=form.name %}

        <div class="dynamic-formset" id="id_formset-{{formsets.othernames.prefix}}" data-prefix="{{formsets.othernames.prefix}}">
            {{formsets.othernames.management_form}}
            {% for f in formsets.othernames %}
                <div class="control-group form-inline {% if f.errors %}error{% endif %}"
                        id="id_form-{{f.prefix}}" data-prefix="{{f.prefix}}">
                    <label for="id_{{f.prefix}}-{{f.name.name}}">{% if forloop.first %}Alternate Name{% endif %}</label>
                    <div class="controls inlinemulti">
                        {{f.id}}
                        {{f.name}}
                        {{f.DELETE}}
                        {{f.DELETE.label_tag}}
                        {% if f.errors %}
                            <span class="help-inline">{{f.errors}}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="dynamic-formset" id="id_formset-{{formsets.dates.prefix}}" data-prefix="{{formsets.dates.prefix}}">
            {{formsets.dates.management_form}}
            {% for f in formsets.dates %}
                <div class="control-group form-inline date-field {% if f.errors %}error{% endif %}"
                        id="id_form-{{f.prefix}}" data-prefix="{{f.prefix}}">
                    <label for="id_{{f.prefix}}-{{f.start_date.name}}">{% if forloop.first %}Date{% endif %}</label>
                    <div class="controls inlinemulti" data-prefix="{{f.prefix}}">
                        {{f.id}}
                        {{f.start_date}}
                        {{f.end_date}}
                        {{f.DELETE}}
                        {{f.DELETE.label_tag}}
                        {% if f.errors %}
                            <span class="help-inline">{{f.errors}}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include "_form_field.html" with field=form.lod %}
        {% include "_form_field.html" with field=form.extent_and_medium %}
    </fieldset>
    <fieldset>
        <legend>Context Area</legend>
        {% include "_form_field.html" with field=form.creator %}
        {% include "_form_field.html" with field=form.repository %}
        {% include "_form_field.html" with field=form.archival_history %}
        {% include "_form_field.html" with field=form.acquisition %}
    </fieldset>

    <fieldset>
        <legend>Content &amp; Structure Area</legend>
        {% include "_form_field.html" with field=form.scope_and_content %}
        {% include "_form_field.html" with field=form.appraisal %}
        {% include "_form_field.html" with field=form.accruals %}
        {% include "_form_field.html" with field=form.system_of_arrangement %}
    </fieldset>

    <fieldset>
        <legend>Conditions of Access &amp; Use Area</legend>
        {% include "_form_field.html" with field=form.access_conditions %}
        {% include "_form_field.html" with field=form.reproduction_conditions %}
        {% include "_property_form_field.html" with propform=formsets.language name="Language of Materials" %}
        {% include "_property_form_field.html" with propform=formsets.script name="Script of Materials" %}
        {% include "_form_field.html" with field=form.physical_characteristics %}
        {% include "_form_field.html" with field=form.finding_aids %}
    </fieldset>

    <fieldset>
        <legend>Allied Material Area</legend>
        {% include "_form_field.html" with field=form.location_of_originals %}
        {% include "_form_field.html" with field=form.location_of_copies %}
        {% include "_form_field.html" with field=form.related_units_of_description %}
        {% include "_form_field.html" with field=form.publication_notes %}
    </fieldset>

    <fieldset>
        <legend>Control Area</legend>
        {% include "_form_field.html" with field=form.description_identifier %}
        {% include "_form_field.html" with field=form.institution_identifier %}
        {% include "_form_field.html" with field=form.rules %}
        {% include "_property_form_field.html" with propform=formsets.language_of_description name="Language of Description" %}
        {% include "_property_form_field.html" with propform=formsets.script_of_description name="Script of Description" %}
        {% include "_form_field.html" with field=form.sources %}
    </fieldset>
{% endblock %}
