{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load portal_tags %}
{% load staticfiles %}

{% block head_title %}{{object.name}}{% endblock %}
{% block body_class %}{% endblock %}

{% block body %}
<script src="{% static "js/dynamic-formsets.js" %}"></script>
<div class="row">
    <div class="span3 columns">
        {% block sidebar %}
            {% block sidebar_details %}
            {% endblock %}
            {% if history %}
                {% block sidebar_history %}
                    {% include "_object_version_history.html" %}
                {% endblock %}
            {% endif %}
            <div class="export-actions well">
                <h4>{% trans "Export Resource" %}</h4>
                <ul class="unstyled">
                    <li>
                        <a class="export-link" title="{% trans "Export description as XML" %}" target="_blank"  
                            href="{% url api_dispatch_detail slug=object.slug resource_name=object.resource_type api_name="v1" %}?format=xml" />XML</a>
                   </li>
                    <li>
                    <a class="export-link" title="{% trans "Export description as JSON" %}" target="_blank" 
                            href="{% url api_dispatch_detail slug=object.slug resource_name=object.resource_type api_name="v1" %}?format=json" />JSON</a>
                   </li>
                </ul>
            </div>
            {% if user.is_staff %}
                {% block sidebar_admin %}
                    <div class="admin-actions well">
                        <h4>{% trans "Administration Actions" %}</h4>
                        <ul class="unstyled">
                            <li><a class="btn" href="{{object.get_edit_url}}">{% trans "Edit Description" %}</a></li>
                            <li><a class="btn btn-danger" href="{{object.get_delete_url}}">{% trans "Delete" %}</a></li>
                            {% block extra_admin_actions %}{% endblock %}
                        </ul>
                    </div>
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>
    <div class="span9 columns">
        {% block body_title %}
        <h2>
            {{object.name}}
            {% if not object.published %}
                <span class="label">{% trans "Draft Description" %}</span>
            {% endif %}
        </h2>
        {% if object.other_names %}
            <h3 class="alternate-name">
            {% for on in object.other_names %}
                {% if forloop.counter0 > 0 %}, {% endif %}{{on}}
            {% endfor %}
            </h3>
            {% endif %}
        {% endblock %}
        <hr />
        {% block body_description %}
            {% blocktrans %}
                No description given.
            {% endblocktrans %}
        {% endblock %}
    </div>
</div>
{% endblock %}

