{% extends "site_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static "css/bootstrap-subnav.css" %}">
{% endblock %}

{% block head_title %}
    {% if object %}
        {% trans "Edit" %} - {{object.name}}
    {% else %}
        {% trans "Create" %}
    {% endif %}
{% endblock %}

{% block body %}
{% if object %}
    <h2>{{object.name}}</h2>
{% else %}
<h2>{% trans "New" %} {% block modelname %}{% endblock %}</h2>
{% endif %}
<div class="subnav">
    <ul class="nav nav-pills">
        {% block fieldset_links %}{% endblock %}
    </ul>
</div>
<div class="row" data-spy="scroll" data-offset="40">
    <script src="{% static "js/dynamic-formsets.js" %}"></script>
    <script src="{% static "js/multi-select.js" %}"></script>
    <script src="{% static "js/subnav.js" %}"></script>
    <div class="span12">
        <form method="post" class="entity-form form-horizontal">
            {% csrf_token %}
            {% block fieldsets %}
            {% endblock %}
            <div class="form-actions">
                {% if object %}
                    <div class="control-group">
                        {{form.revision_comment}}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">
                    {% if object %}{% trans "Update" %}{% else %}{% trans "Save" %}{% endif %}
                </button>
                {% if object %}
                    <a class="btn" href="{{object.get_absolute_url}}">{% trans "Cancel" %}</a>
                {% endif %}
            </div>
        </form>
        <!-- Hack for extra footer height... -->
        <div style="height=200px;">&nbsp;</div>
    </div>
</div>
{% endblock %}

