{% extends 'search_base.html' %}

{% load highlight %}
{% load staticfiles %}
{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% block head_title %}{% trans "Repositories" %}{% endblock %}

{% block body_class %}repositories{% endblock %}

{% block facets %}
    <div id="result-list"></div>
{% endblock %}

{% block searchform %}
{{form.q}} {{form.type}}
{% endblock %}

{% block body %}
    <div id="map_canvas" style="width:100%;height:600px;">
    </div>
<script type="text/javascript" src="{% static "js/dutils.js" %}"></script>
<script type="text/javascript" src="{% static "js/dutils.conf.urls.js" %}"></script>
<script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC7RVUST3aa1HyStY8UPQp71bxFoYWvtfM&sensor=false">
</script>
<script type="text/javascript" src="{% static "js/repository_map.js" %}"></script>

{% endblock %}
