{% extends "form_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load markup %}
{% load portal_tags %}
{% load bootstrap_tags %}

{% block body_class %}repositories{% endblock %}
{% block modelname %}{% trans "Repository" %}{% endblock %}

{% block fieldset_links %}
    <li><a href="#identity-area">{% trans "Identity Area" %}</a></li>
    <li><a href="#contact-area">{% trans "Contact Area" %}</a></li>
    <li><a href="#description-area">{% trans "Description Area" %}</a></li>
    <li><a href="#access-area">{% trans "Access Area" %}</a></li>
    <li><a href="#services-area">{% trans "Services Area" %}</a></li>
    <li><a href="#control-area">{% trans "Control Area" %}</a></li>
{% endblock %}

{% block fieldsets %}
    <fieldset id="identity-area">
        <legend>{% trans "Identity Area" %}</legend>
        {% include "_form_field.html" with field=form.identifier %}
        {% include "_form_field.html" with field=form.name %}

        <div class="dynamic-formset" id="id_formset-{{formsets.parallelnames.prefix}}" data-prefix="{{formsets.parallelnames.prefix}}">
            {{formsets.parallelnames.management_form}}
            {% for f in formsets.parallelnames %}
                <div class="control-group form-inline {% if f.errors %}error{% endif %}"
                        id="id_form-{{f.prefix}}" data-prefix="{{f.prefix}}">
                    <label for="id_{{f.prefix}}-{{f.name.name}}">{% if forloop.first %}Parallel Forms of Name{% endif %}</label>
                    <div class="controls inlinemulti">
                        {{f.id}}
                        {{f.name}}
                        {{f.DELETE}}
                        {{f.DELETE.label_tag}}
                        {% if f.errors %}
                            <span class="help-inline">{{f.errors}}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="dynamic-formset" id="id_formset-{{formsets.othernames.prefix}}" data-prefix="{{formsets.othernames.prefix}}">
            {{formsets.othernames.management_form}}
            {% for f in formsets.othernames %}
                <div class="control-group form-inline {% if f.errors %}error{% endif %}"
                        id="id_form-{{f.prefix}}" data-prefix="{{f.prefix}}">
                    <label for="id_{{f.prefix}}-{{f.name.name}}">{% if forloop.first %}Other Forms of Name{% endif %}</label>
                    <div class="controls inlinemulti">
                        {{f.id}}
                        {{f.name}}
                        {{f.DELETE}}
                        {{f.DELETE.label_tag}}
                        {% if f.errors %}
                            <span class="help-inline">{{f.errors}}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include "_form_field.html" with field=form.type_of_entity %}
    </fieldset>
    <fieldset id="contact-area">
        <legend>{% trans "Contact Area" %}</legend>
        <div class="contact-formset" id="id_formset-{{formsets.contacts.prefix}}" data-prefix="{{formsets.contacts.prefix}}">
            {{formsets.contacts.management_form}}
            {% for f in formsets.contacts %}
                <div class="control-group form-inline well {% if f.errors %}error{% endif %}"
                    id="id_form-{{f.prefix}}" data-prefix="{{f.prefix}}">
                    {{ f|as_bootstrap }}
                </div>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset id="description-area">
        <legend>{% trans "Description Area" %}</legend>
        {% include "_form_field.html" with field=form.history %}
        {% include "_form_field.html" with field=form.geocultural_context %}
        {% include "_form_field.html" with field=form.mandates %}
        {% include "_form_field.html" with field=form.internal_structures %}
        {% include "_form_field.html" with field=form.collecting_policies %}
        {% include "_form_field.html" with field=form.buildings %}
        {% include "_form_field.html" with field=form.holdings %}
        {% include "_form_field.html" with field=form.finding_aids %}
    </fieldset>

    <fieldset id="access-area">
        <legend>{% trans "Access Area" %}</legend>
        {% include "_form_field.html" with field=form.opening_times %}
        {% include "_form_field.html" with field=form.access_conditions %}
        {% include "_form_field.html" with field=form.accessibility %}
    </fieldset>

    <fieldset id="services-area">
        <legend>{% trans "Services Area" %}</legend>
        {% include "_form_field.html" with field=form.research_services %}
        {% include "_form_field.html" with field=form.reproduction_services %}
        {% include "_form_field.html" with field=form.public_areas %}
    </fieldset>

    <fieldset id="control-area">
        <legend>{% trans "Control Area" %}</legend>
        {% include "_form_field.html" with field=form.description_identifier %}
        {% include "_form_field.html" with field=form.institution_identifier %}
        {% include "_form_field.html" with field=form.rules %}
        {% include "_form_field.html" with field=form.languages %}
        {% include "_form_field.html" with field=form.scripts %}
        {% include "_form_field.html" with field=form.sources %}
    </fieldset>
{% endblock %}
