{% extends "detail_base.html" %}

{% load portal_tags %}
{% load i18n %}

{% block sidebar_details %}

{% endblock %}

{% block sidebar_admin %}
    <div class="admin-actions well">
        <h4>{% trans "Administration Actions" %}</h4>
        <ul class="unstyled">
            <li>
                <a class="btn btn-warning" href="{{ object|restore_url:version.id}}">
                    {% trans "Restore Version" %}</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block body_description %}

    {% block revision_description %}

    {% endblock %}

{% endblock %}
