{% extends 'site_base.html' %}

{% load i18n %}
{% load ifsetting_tag %}
{% load pagination_tags %}
{% load highlight %}
{% block head_title %}{% trans "Search Collections" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block body_base %}
    <div class="container-fluid">
        {% include "_messages.html" %}
        <form id="search-form" method="get" action="{{request.path}}">
            <div class="row-fluid">
                <div class="span3 columns">
                    <div class="search-sidebar">
                        {% block subnav %}
                        <div class="search-sidebar-heading">
                            {% block page_heading %}{% endblock %}
                        </div>                        
                            <h2>Search</h2>

                            {% block facets %}
                            <!-- facets go here -->
                                 &nbsp;
                            {% endblock %}
                        {% endblock %}
                    </div>
                </div>
                <div class="span9 columns">
                    {% block searchform %}
                    <input type="text" name="q" id="id_q" value="{{form.q.value|default_if_none:""}}" class="span5" />
                    {% endblock %}
                    <input type="submit" value="Search">
                    {% include "_selected_facets.html" %}
                    <h3 id="result-summary">
                    {% if paginator.count %}
                        {% with paginator.count|pluralize as pluralcount %}
                        {{paginator.count}} {% trans "Result"|add:pluralcount %}
                        {% endwith %}
                        {% if form.q.value %}
                        &nbsp;for <i>{{form.q.value}}</i>
                        {% endif %}
                    {% else %}
                        {% if form.q.value %}
                        {% trans "Nothing found for" %} <i id="result-query">{{form.q.value}}</i>{% if suggestion %}.&nbsp;{% trans "Did you mean" %} <a               
                                href="{{request.path}}?q={{suggestion|urlencode}}"><i>{{suggestion}}</i></a>?{% endif %}
                        {% endif %}
                    {% endif %}
                    </h3>
                    {% block body %}
                    {% if paginator.count %}


                        <div class="result-list">
                        {% block resultlist %}

                        {% endblock %}

                        {% paginate 2 %}
                        </div>
                    {% else %}
                        &nbsp;
                    {% endif %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

