<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Facebook sharing information tags -->
        <meta property="dc:title" content="{{subject}}" />
        <title>{{subject}}</title>
    </head>
    <body>
        <h3>Suggestion from {{object.name}}</h3>
        {% if object.email %}
            <h4><a href="mailto:{{object.email}}">{{object.email}}</a></h4>
        {% endif %}

        <p>
            {{object.text|linebreaks}}
        </p>
        <hr />
        {% if object.meta %}
            <table>
            {% for key, val in object.meta.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{val}}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            No metadata is available.
        {% endif %}


