"""
Production settings used to override settings.py on the server.
"""
import os
import posixpath

PROJECT_ROOT = os.path.abspath(os.path.dirname(__file__))
PROJECT_NAME = os.path.basename(PROJECT_ROOT)

DEBUG = False
TEMPLATE_DEBUG = DEBUG
SERVE_MEDIA = DEBUG

ADMINS = [
    ("Mike", "michael.bryant@kcl.ac.uk"),
]

STATIC_ROOT = os.path.join(PROJECT_ROOT, "../../..", PROJECT_NAME, "static")
MEDIA_ROOT = os.path.join(PROJECT_ROOT, "../../..", PROJECT_NAME, "media")
MEDIA_URL = "/%s/media/" % PROJECT_NAME
STATIC_URL = "/%s/static/" % PROJECT_NAME
ADMIN_MEDIA_PREFIX = posixpath.join(STATIC_URL, "admin/")


EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'


